<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/core/static/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <form method="post">

        <div class="container">
            <h1>Moneywise</h1>
                    {% csrf_token %}
            {% if error %}
                 <p style="color: red; text-align: center;">{{ error }}</p>
            {% endif %}
            <br>
            <input type="email" placeholder="Email", name="email">
            <br>
            <input type="password" placeholder="Password", name="password">
            <br>
            <button type="submit">Login</button>
        </div>
    </form>

</body>
</html>