<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'register.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <form method="post">
    <div class="container" >
        
            {% csrf_token %}
                <h1>Join MoneyWise Today</h1>
                <br>
                {% if error %}
                    <p style="color: red; text-align: center;">{{ error }}</p>
                {% endif %}
                <input type="text" placeholder="First Name", name="first_name">
                <br>
                <input type="text" placeholder="Last Name", name="last_name">
                <br>
                <input type="number" placeholder="Age", name="age">
                <br>
                <input type="text" placeholder="Username", name="username">
                <br>
                <input type="email" placeholder="Email", name="email">
                <br>
                <input type="password" placeholder="Password", name="password">
                <br>
                <button type="submit">Register!</button>
                <a class="redirect" href="/core/templates/login.html"><p>Go to Login Page →</p></a>
            </div>
    </form>

    
</body>
</html>